Source: engine-pkcs11
Section: libs
Priority: optional
Maintainer: Eric Dorland <eric@debian.org>
Build-Depends: debhelper (>= 9), autotools-dev, libltdl3-dev,
 libp11-dev (>= 0.2.5), libssl-dev
Standards-Version: 3.9.4

Package: libengine-pkcs11-openssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libopensc-openssl
Replaces: libopensc-openssl
Provides: libopensc-openssl
Description: OpenSSL engine for PKCS#11 modules
 With this engine for OpenSSL you can use OpenSSL library
 and command line tools with any PKCS#11 implementation as
 backend for the crypto operations.
 .
 Engine_pkcs11 was developed for smart cards, and mostly
 for the OpenSC PKCS#11 module, but it should work fine with
 any PKCS#11 implementation.
 .
 Engine_pkcs11 is a spin off from OpenSC and replaced
 libopensc-openssl.
